.confirmButton {
  width: 100%;
  height: 88px;
  background-color: #3371ff;
  border-radius: 12px;
  color: #ffffff;
  font-size: 36px;
  line-height: 88px;
  text-align: center;
  cursor: pointer;
  &.disabled {
    background-color: #bbbfc4;
  }
}
